services:
  mysql:
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: discord-db
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 3s
      retries: 10
    image: mysql:latest
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - ./database:/docker-entrypoint-initdb.d/
    networks:
      - spring-boot-network

  api:
    build:
      context: ./
      dockerfile: Dockerfile
    command: sh run.sh
    container_name: api
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - 8000:8000
      - 35729:35729
      - 5005:5005
    volumes:
      - ./:/app
      - ./.m2:/root/.m2
    working_dir: /app
    networks:
      - spring-boot-network

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin
    environment:
      MYSQL_ROOT_PASSWORD: root
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8080:80
    depends_on:
      - mysql
    networks:
      - spring-boot-network
    volumes:
      - ./docker/phpmyadmin:/var/lib/phpmyadmin 

networks:
  spring-boot-network:
    driver: bridge
